{% extends "base_generic.html" %}

{% block title %} Login {% endblock %}

{% block content %}
    <div class="card shadow">
        <div class="card-header">
            <h2>Entrar</h2>
        </div>
        <form class="card-body mw-100" style="width: 500px" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            
            <div class="d-flex justify-content-end">
                <button class="btn btn-primary float-right" type="submit">Entrar</button>
            </div>
        </form>
    </div>
{% endblock %}