{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>ACME - {% block title %} Home {% endblock %}</title>
        {# FontAwesome #}
        <link href="{% static 'css/main/fontawesome.css' %}" rel="stylesheet">
        <script src="{% static 'js/main/fontawesome.js' %}"></script>
        
        {# Bootstrap #}
        <link href="{% static 'css/main/bootstrap.css' %}" rel="stylesheet">
        <script src="{% static 'js/main/bootstrap.bundle.min.js' %}"></script>
        
        {# Jquery #}
        <script src="{% static 'js/main/jquery.js' %}"></script>
        <script src="{% static 'js/main/jquery.mask.js' %}"></script>
    </head>
    <body class="bg-secondary bg-opacity-10">
        

        <div class="container-fluid p-0 vh-100 d-flex flex-column">
            <nav class="navbar navbar-dark bg-success navbar-expand">
                <div class="d-flex justify-content-start">
                    <a class="navbar-brand fw-bolder mx-5" href="{% url 'client-dashboard' %}">ACME</a>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link mx-3" href="{% url 'client-dashboard' %}">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-3" href="{% url 'client-list' %}">Clientes</a>
                        </li>
                    </ul>
                </div>
                {% if user.is_authenticated %}
                    <div class="d-flex justify-content-end flex-grow-1 px-5">
                        <div class="dropdown">
                            <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{user.username}}
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="{% url 'logout' %}">Sair</a></li>
                            </ul>
                        </div>
                    </div>
                {% endif %}
                      
            </nav>
            <div class="flex-grow-1">
                <div class="d-flex flex-column p-5 align-items-center justify-content-center flex-grow-1 h-100">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>

</html>