{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>ACME - {% block title %} Home {% endblock %}</title>
        <link href="{% static 'css/main/bootstrap.css' %}" rel="stylesheet">
        <script src="{% static 'js/main/bootstrap.js' %}"></script>
    </head>
    <body>
        <header class="page-header">
          <div class="container">
              <h1><a href="/" class="text-danger">Django Girls Blog</a></h1>
          </div>
        </header>

        <main class="container">
            <div class="row">
                <div class="col">
                    {% block content %}
                    {% endblock %}

                </div>
            </div>
        </main>
    </body>
</html>